*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: black;
}

#wrapper{
    /* background-color: black; */
    border: 1px solid white;
    width: 40%;
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name{
    background-color: cyan;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* h1{
    color: cyan;
} */

.result-area{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
}

button{
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}